extends ../template

block variables
  - var title = "About"

block content
  header.header
    .hero__page-title
      svg(width="1176" height="313").portfolio__header
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprites/sprite.svg#works_header")
    .hero__block
      .hero__
      .hero__avatar
        img(src="assets/images/avatar.jpg", alt="user-avatar").hero__img
      .hero__info.hero__info_color
        h2.hero__name Пацура Александр
        p.hero__desc Личный сайт веб разработчика
        
    //- p &copy; Alexandr Patsura 2018