// ==========================================================================================================

@import 'normalize';
@import 'common/_fonts';
@import 'common/_variables';
@import 'common/_header';

html,
body {
  font-size: $font-size;
  font-family: $roboto;
  color: $marengo;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
}

li {
  font-size: $font-size;
  line-height: $font-size;
}

a {
  text-decoration: none;
  color: #6da3bd;
  font-family: $robotomedium;
}

// .container {
//   max-width: 1200px;
//   margin: 0 auto;
// }

.hero__page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 102, 114, 0.3);
  position: absolute;
  width: 100%;
  height: 100vh;
}

.portfolio__header {
  opacity: .06;
  fill: #fff;
  
  margin-bottom: 90px;
}

// ==================================================== .hero__block ====================================================

.authorization {
  flex: 0 1 93px;
  min-height: 93px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
  
  z-index: 1;
}

.authorization__btn {
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  padding: 12px 27px;
  color: #fff;
  transition: 1s;
  cursor: pointer;
  
  &:hover {
    background-color: #fff;
    color: $baseColor;
    transition: 1s;
  }
  &:focus {
    outline: none;
  }
}

.hero__block {
  height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 1 auto;
  position: relative;
  perspective: 1000px;
  margin-top: -93px;
}

.front__block,
.back__block {
  width: 380px;
  height: 395px;
  display: flex;
  flex-direction: column;
  // text-align: center;
  position: absolute;
  border-radius: 5px;
  transition: 1s;
  backface-visibility: hidden;
}

.block__background {
  background-color: rgba(252, 252, 252, 0.851);
}

.back__block {
  transform: rotateY(180deg);
}

.hero__block.flipped .front__block {
  transform: rotateY(-180deg);
}

.hero__block.flipped .back__block {
  transform: rotateY(0);
}

.hero__info_color {
  color: #fff;
}

.auth-form,
.captcha-radio {
  margin-bottom: auto;
}

// checkbox + radio

.captcha__radio:first-child {
  padding: 20px;
}

.checkbox,
.radio {
  display: none;
}

.checkbox-custom,
.radio-custom {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(155, 158, 160, 0.85);
  border-radius: 3px;
  position: relative;
  background-color: #ffffff;
  box-sizing: border-box;
}

.checkbox-custom,
.radio-custom,
.label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
}

.question {
  font-family: 'RobotoBold';
  font-weight: 700;
  opacity: .8;
  margin-bottom: 10px;
}

.radio:checked + .radio-custom::before {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  background: $baseColor;
  border-radius: 2px;
}

.radio-custom,
.radio:checked + .radio-custom::before {
  border-radius: 50%;
}

.radio:checked ~ .label {
  color: $baseColor;
}

// ==================================================== .menu ====================================================

.menu {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}

.menu__item_border {
  border-right: 2px solid #dee3e7;
  &:last-child {
    border-right: none;
  }
}

.menu-column {
  // display: flex;
  // flex-direction: column;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.menu-item_bgc {
  // background-color: rgba($baseColor, $alpha50);
  transition: .5s;
  &:hover {
    // background-color: $baseColor;
    transition: .5s;
  }
}
.menu-item-width {
  width: 100%;
}
.menu__link_padding {
  padding: 13px 31px 14px;
}

/////////////////////////// toggle menu ///////////////////////////////////////

@keyframes show-tg-menu {
  100% {
    width: 40px;
    opacity: 1;
  }
  75% {
    width: 30px;
    opacity: 0.75;
  }
  50% {
    width: 20px;
    opacity: 0.4;
  }
  25% {
    width: 10px;
    opacity: 0.1;
  }
  0% {
    width: 0;
    opacity: 0;
  }
}

@keyframes hide-tg-menu {
  0% {
    width: 40px;
    opacity: 1;
  }
  25% {
    width: 30px;
    opacity: 0.75;
  }
  50% {
    width: 20px;
    opacity: 0.4;
  }
  75% {
    width: 10px;
    opacity: 0.1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

.toggle-menu {
  z-index: 10;
}

.toggle-menu .sandwich {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 35px;
}

.toggle-menu .sandwich span {
  display: block;
  position: relative;
  width: 40px;
  height: 5px;
  background: white;
  border: none;
  border-radius: 4px;
  transition: transform 0.5s, top 0.2s;
  /* transition-delay: 0.2s, 0s; */
}

.toggle-menu .sandwich .center {
  animation-name: show-tg-menu;
  animation-duration: 0.3s;
}

.toggle-menu .toggle-active .top {
  top: 15px;
  transform: rotate(135deg);
}

.toggle-menu .toggle-active .center {
  opacity: 0;
  animation-name: hide-tg-menu;
  animation-duration: 0.3s;
}

.toggle-menu .toggle-active .bottom {
  top: -15px;
  transform: rotate(-135deg);
}

.menu-fullscreen {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  // background-color: rgba($baseColor, $alpha87);
  top: 0;
  left: 0;
  z-index: 5;
  text-align: center;
}
.menu-fullscreen__item {
  width: 100%;
  // &:hover {
    // background-color: rgba($baseColor, $alpha87);
    // }
}
  






.about {
  display: grid;
  width: 100%;
  // height: 835px;

  grid-template-columns: 25% 25% auto;
  grid-template-areas: 'about__title about__left about__right';

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'about__title about__right'
                         'about__left about__right';
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas: 'about__title'
                         'about__left'
                         'about__right';
  }
}

.about__title {
  grid-area: about__title;
  background-color: #efeee9;
}

.about__left {
  grid-area: about__left;
  background-color: #efeee9;
}

.about__right {
  grid-area: about__right;
  background-color: #eeebdf;
}