// color
$font-size: 16px;
$baseColor: rgb(0, 191, 165); // персидский зеленый
$darkBaseColor: rgb(0, 150, 136); // темный циан
$marengo: rgb(69, 90, 100); // маренго
$darkGreen: rgb(55, 62, 66); // черно-зеленый
$skillColor: rgb(0, 191, 165);

// fonts
$robotolight: "RobotoLight", sans-serif; // 300
$roboto: "RobotoRegular", sans-serif; // 400
$robotomedium: "RobotoMedium", sans-serif; // 500
$robotobold: "RobotoBold", sans-serif; // 800
// $bernierReg: "BernierRegular", sans-serif; // 400
